<template>
  <div>
    <div class="position-relative">
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Un repositorio de...
                  <span></span>
                </h1>
                <p class="lead  text-white">Un blog sobre desarrollo web, ideas de trabajo, codigo, Laravel, Vue, Node Strapi, etc. o algun experimento interesante.</p>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section section-lg pt-lg-0 section-contact-us">
      <div class="container mt--300">
        <div class="row row-grid align-items-center">
          <!--          <div v-if="$apollo.loading">-->
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <div class="col-md-4 mt-4">
            <content-loader
                :speed="2"
                :height="450"
                primaryColor="#e9ecef"
                secondaryColor="#b2cbe1"
            >
              <rect x="3" y="3" rx="6" ry="6" width="90%" height="368"/>
              <rect x="16" y="380" rx="1" ry="1" width="247" height="20"/>
              <rect x="17" y="412" rx="9" ry="9" width="205" height="11"/>
            </content-loader>
          </div>
          <!--          </div>-->

          <!--          <ArticlesList v-else :articles="articles"></ArticlesList>-->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {ContentLoader} from 'vue-content-loader'
import ArticlesList from "@/views/components/Article/ArticlesList";
import gql from "graphql-tag";

export default {
  name: "Blog",
  components: {
    ArticlesList,
    ContentLoader
  },
  data() {
    return {
      articles: []
    }
  },
  apollo: {
    articles: gql`
      query Articles {
        articles {
          id
          title
          content
          slug
          image {
            formats
          }
          category {
            name
          }
        }
      }
    `
  }
};
</script>
