<template>
    <div>

        <div class="position-relative">
            <!-- shape Hero -->
            <section class="section-shaped my-0">
                <div class="shape shape-style-1 shape-default shape-skew">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="container shape-container d-flex">
                    <div class="col px-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="display-3  text-white">¿Ideas, propuestas, planes?
                                    <span>Contactenos</span>
                                </h1>
                            </div>
                          <div class="col-lg-10">
                            <p class="lead  text-white">Dejenos un mensaje tan rapido lo tengamos nosotros nos ponemos en marcha.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 1st Hero Variation -->
        </div>
      <!--Seccion-->
      <section class="section section-lg pt-lg-0 section-contact-us">
            <div class="container">
                <div class="row justify-content-center mt--300">
                    <div class="col-lg-8">
                        <card gradient="secondary" shadow body-classes="p-lg-5">
<!--                            <h4 class="mb-1">Want to work with us?</h4>-->
<!--                            <p class="mt-0">Your project is very important to us.</p>-->
                            <base-input alternative
                                        placeholder="Su nombre"
                                        addon-left-icon="ni ni-user-run">
                            </base-input>
                            <base-input alternative
                                        placeholder="Correo electronico"
                                        addon-left-icon="ni ni-email-83">
                            </base-input>
                            <base-input class="mb-4">
                                    <textarea class="form-control form-control-alternative" name="name" rows="4"
                                              cols="80" placeholder="Deje un mensaje..."></textarea>
                            </base-input>
                            <base-button type="default" round block size="lg">
                                Contactar
                            </base-button>
                        </card>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

import gql from "graphql-tag";

export default {
  name: "Contacto",
  components: {},
  apollo: {
    articles: gql`
      query Articles {
        articles {
          id
          title
          content
          image {
            url
          }
          category {
            name
          }
        }
      }
    `
  }
};
</script>
