<template>
  <div class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <img class="bg-image" v-lazy="article.image.formats.large.url"
           style="width: 100%;">
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <card shadow class="card-profile mt--400" no-body>
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img v-lazy="'img/theme/team-4-800x800.jpg'" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <base-button type="info" size="sm" class="mr-4">Connect</base-button>
                  <base-button type="default" size="sm" class="float-right">Message</base-button>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ article.title }}</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{ article.category.name }}</div>
<!--              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>-->
<!--              <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>-->
            </div>
            <div class="mt-5 py-5 border-top">
              <div class="row justify-content-flex-start">
                <div class="col-lg-9">
                  <div v-if="$apollo.loading">Loading...</div>
                  <div v-if="error">{{ error }}</div>
                  <vue-markdown
                      v-if="article.content"
                      :source="article.content"
                      html="true"
                      emoji="true"
                  />
                </div>
              </div>
            </div>
          </div>
        </card>
        <Disqus class="mt-md" lang="es_MX"/>
      </div>
    </section>
  </div>
</template>

<script>
import moment from "moment"
import VueMarkdown from "vue-markdown";
import gql from "graphql-tag";

export default {
  name: "Article",
  data() {
    return {
      article: {},
      moment: moment,
      routeParam: this.$route.params.slug,
      error: null
    };
  },
  components: {
    VueMarkdown
  },
  apollo: {
    article() {
      return {
        query: gql` query Article($slug: String!) {
          articles(limit: 1 where: { slug: $slug}) {
            id
            title
            content
            image {
              formats
            }
            category {
              name,
              slug
            }
            author{
              username
              name
            }
            publishedAt
          }
        }`,
        update(data) {
          console.log(data)
          return data.articles[0]
        },
        error(error) {
          this.error = JSON.stringify(error.message);
        },
        variables() {
          return {
            slug: this.routeParam
          };
        },
      }
    }
  }
}
</script>

<style scoped>

</style>