<template>
  <div>
    <router-link v-for="article in leftArticles"
                 :to="{ path: '/blog/' + article.slug }"

                 :key="article.slug"
    >
      <!--      class="uk-link-reset"-->
      <div class="col-md-4 mt-4">
        <div class="card bg-default shadow border-0">
          <img v-lazy="article.image.formats.medium.url" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                 class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-6 font-weight-bold text-white">{{ article.title }}</h4>
          </blockquote>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ArticlesList",
  data: function () {
    return {
      api_url: process.env.VUE_APP_STRAPI_API_URL
    }
  },
  props: {
    articles: Array
  },
  computed: {
    leftArticlesCount() {
      return Math.ceil(this.articles.length / 5);
    },
    leftArticles() {
      return this.articles.slice(0, this.leftArticlesCount);
    },
    rightArticles() {
      return this.articles.slice(this.leftArticlesCount, this.articles.length);
    }
  }
}
</script>

<style scoped>

</style>